body {
    height: 100vh;
    margin: 0;
    background-color: rgb(17 24 39);
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 100px 1fr ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    grid-column: 2/3;
    font-size: 3rem;
    color: white;
    align-self: center;
    padding: 0 0 0 20px;
}

.library {
    display: flex;
    gap: 20px;
    padding: 20px 0 0 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.sidebar {
    grid-row: 1/3;
    background-color: rgb(31 41 55);
    padding: 100px 10px;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar > button {
    margin-top: 20px;
}
